.jobCategory {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 1%;
}
.jobCategory li {
    margin-left: 1rem;
    padding-right: 3rem;
    padding-top: 1%;
    font-size: 1.1rem;
    font-weight: 550;
}
.jobCategory a:hover{
    color: #F59A12;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.8rem;
}

.region{
    width:800px; height: 300px;
    background-color:pink;
    position: relative;
    display: flex;
    
}

.select{
    align-items: center;
    
}
.locCategory {
    display: flex;
    margin-left: 40%;
}
.select li {
    justify-content: space-around;
    align-items: center;
    padding-right: 10%;
    padding-top: 3%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}

.locCategory a:hover {
    color: #F59A12;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.8rem;
}
.contlnfo a  {
    color: #F59A12;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1.4rem;
}