body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}

.title {
    text-align: center;
    color: #F59A12;
    margin-top: 6%;
}

#centerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnGroup {
    display: flex;
    justify-content: center;
    width:60%;
    height: 3rem;
    margin-left: 20%;
    margin-top: 1%;
}
.commit{
    width:10%;
    padding-right: 1%;
}
.rollback{
    width:10%;
}
.commitBtn {
    width: 100%;
    height: 90%;
    position: relative;
    align-items: center;
    background-color: #F59A12;
    border: none;
    border-radius: 0.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    font-weight: 570;
    color: #ffff;
    cursor: pointer;
}
.rollbackBtn{
    width: 100%;
    height: 90%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #F59A12;
    border-radius: 0.3rem;
    font-size: 100%;
    font-weight: 550;
    color: #F59A12;
    cursor: pointer;
}
.emailInput,
.locInput,
.careerInput,
.interestJobInput,
.eduInput {
    padding: 1%;
    margin-bottom: 6%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 370px;
    height: 50px;
}
.emailLabel,.locLabel,.careerLabel,.interestJobLabel,.eduLabel{
    margin-top: 5%;
    margin-bottom: 4%;
}



